name: Flutter CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter_version: '3.10.0'
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        working-directory: mobile
        
      - name: Analyze project source
        run: flutter analyze
        working-directory: mobile
        
      - name: Run tests
        run: flutter test
        working-directory: mobile
